@import url('https://static.zeoseven.com/zsft/292/main/result.css');

body {
font-family: "LXGW WenKai";
font-weight: normal;
}

button.md-top {
     font-family: LXGW WenKai; /* 修改字体 */
     font-size: 16px; /* 修改字体大小 */
     font-weight: bold; /* 修改字体粗细 */
     color: #518FC1; /* 修改字体颜色 */
    }
/* button.md-top {
    font-family: LXGW WenKai;
    font-size: 16px;
    font-weight: lighter;
} */
/* 顶部导航栏黑色毛玻璃 */


/* 导航栏文字 */

/* 纯玻璃质感 */
.md-nav__title,
.md-header,
.md-tabs {
    background: #0000005e !important;
}
.timeline-title {
    text-align:center;
    font-size:40px;
}


/* 两列布局 */
#timeline {
    max-width:1000px;
    margin:auto;

    display:grid;

    grid-template-columns:
    repeat(2, 1fr);

    gap:20px;
}


/* 单个事件 */
.event {

    padding:0;

}


/* 日期 */
.date {

    font-size:16px;

    font-weight:bold;

    margin-bottom:8px;

    opacity:.8;

}


/* 卡片 */
.card {

    padding:16px;

    min-height:100px;

    border-radius:14px;

    background:
    rgba(128,128,128,.12);

    border:
    1px solid rgba(255,255,255,.15);

    backdrop-filter:
    blur(12px);

    transition:.25s;

}


/* 标题 */
.card h3 {

    font-size:18px;

    margin:
    0 0 8px;

}


/* 内容 */
.card p {

    font-size:14px;

    margin:0;

    line-height:1.6;

}


/* 悬浮效果 */
.card:hover {

    transform:
    translateY(-5px);

    box-shadow:
    0 10px 25px rgba(0,0,0,.2);

}


/* 手机端自动单列 */
@media(max-width:700px){

    #timeline {

        grid-template-columns:
        1fr;

    }

}